# Inbuilt data structure - Tuples
 - tuples are ordered immutable collection of items
 - they can contain items of different datatypes

In [1]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

tpl = tuple() # creating a empty tuple using class

()
<class 'tuple'>

In [4]:
numbers = tuple([1,2,3,4,5,6,7]) # list converted to tuple
print(numbers)
numbersOne = list((6,5,4,3,2,1)) # tuple converted to list
print(numbersOne)

(1, 2, 3, 4, 5, 6, 7)
[6, 5, 4, 3, 2, 1]

In [5]:
mixed_tuple = (1, "Hello", 10.12, True)
print(mixed_tuple)

(1, 'Hello', 10.12, True)

In [12]:
## Accesing tuple elements 
numbers = (1,2,3,4,5,6,7)
print(numbers)

print(numbers[0])
print(numbers[2])
print(numbers[4])
print(numbers[6])

print(numbers[-1])

(1, 2, 3, 4, 5, 6, 7)
1
3
5
7
7

In [19]:
print(numbers[0:4]) ## 0-3
# print(numbers[-4:-1]) ## invalid syntax

(1, 2, 3, 4)

In [17]:
print(numbers[::2]) ## items with gap 2

(1, 3, 5, 7)

In [21]:
## Tuples operations

numbers = (1,2,3,4,5,6)
mixed_tuple = ("Hello", 28, False, 3.142)

(1, 2, 3, 4, 5, 6, 'Hello', 28, False, 3.142)

In [22]:
## concatenation
con_tuple = numbers + mixed_tuple
print(con_tuple)

(1, 2, 3, 4, 5, 6, 'Hello', 28, False, 3.142)

In [24]:
print(mixed_tuple * 3) ## repeated thrice
print(numbers * 2) ## repeated twice

('Hello', 28, False, 3.142, 'Hello', 28, False, 3.142, 'Hello', 28, False, 3.142)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [26]:
## Immutable nature of tuples - elements cannot be changed once assigned
lst = [0,1,2,3,4,5]
print(lst)

lst[0] = "Vaibhav"
print(lst) 
## lists are mutable

[0, 1, 2, 3, 4, 5]
['Vaibhav', 1, 2, 3, 4, 5]

In [27]:
numbers = (1,2,3,4,5,6)
# numbers[0] = "Patil"  ## TypeError - 'tuple' object does not support item assignment"

TypeError: 'tuple' object does not support item assignment

In [32]:
## Tuple methods

##Count
numbers = (2,4,6,3,6,4,2)
print(numbers.count(2))
print(numbers.count(3))

2
1

In [33]:
## Index of
numbers = (6,5,4,3,2,1)
print(numbers.index(3))

3

In [34]:
## Packing and Unpacking Tuple

##packing
packed_tuple = 28, "Computer", 23.45, True ##by default they get packed into a tuple
print(packed_tuple)

(28, 'Computer', 23.45)

In [35]:
##unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

28
Computer
23.45

In [41]:
##unpacking with a *
packed_tuple = (1,2,3,4,5,6)
first, *middle, last = packed_tuple

print(first)
# print(*middle) 
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [48]:
## Nested Tuples

lst = [[1,2,3],[2,4,6],["Hello", "Vaibhav", ["Patil"]]] #nested list
print(lst)

## accesing in nested list
print(lst[0])
print(lst[2][1])
print(lst[2][2][0])

##slicing
print(lst[1][0:2])

[[1, 2, 3], [2, 4, 6], ['Hello', 'Vaibhav', ['Patil']]]
[1, 2, 3]
Vaibhav
Patil
[2, 4]

In [51]:
lst = [[1,2,3],[2,4,6],("Hello", "Vaibhav", ["Patil"])] #tuple inside list
print(lst[2])

('Hello', 'Vaibhav', ['Patil'])

In [56]:
## nested tuple
nested_tuple = ((1,2,3), ("a","b","c"), (True, False)) 

## accesing in nested tuple
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])

print(nested_tuple[2][0])

(1, 2, 3)
('a', 'b', 'c')
(True, False)
True

In [70]:
## iterating over nested tuples
nested_tuple = ((1,2,3), ("a","b","c"), (True, False)) 
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end = " ")
    print() # takes to new line

1 2 3
a b c
True False